<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="light dark" />
<title>{{config.title}}</title>
<link rel="stylesheet" href="style.css" />
<script defer src="script.js"></script>
{% if config.mathengine == 'mathjax' %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script>
window.MathJax = {
"tex": {
    "inlineMath": [['$', '$'], ['\\(', '\\)']],
    "macros": {
        "eps": "\\varepsilon",
        "defeq": ":=",
        "Th": "^{\\textrm{th}}",
        "E": "\\operatorname{\\mathbb{E}}",
    }
},
"chtml": {"scale": 0.95},
};
</script>
{% endif %}
</head>
<body>
<h1>{{config.title}}</h1>
<p id="about">
This website lists the gists of research articles and categorizes them by topics.
It is useful for writing the 'Related Work' section in research papers.
</p>
<ol id="articleList" class="linkable-list">
{% for articleId, article in articles.items() %}
<li class="article" id="article.{{articleId}}">
<div class="title">{{article.title}} <a class="articleId" href="#article.{{articleId}}">[{{articleId}}]</a></div>
<div class="pubData">
{% if article.pubData.authorsStr %}
<span class="pubAuthors">by {{article.pubData.authorsStr}}</span>
{% endif %}
{% if article.pubData.longVenue %}
<span class="pubVenue">in <abbr title="{{article.pubData.longVenue}}">{{article.pubData.venue}}</abbr></span>
{% elif article.pubData.venue %}
<span class="pubVenue">in {{article.pubData.venue}}</span>
{% endif %}
{% if article.pubData.year %}
<span class="pubYear">{{article.pubData.year}}</span>
{% endif %}
{% if article.pubData.doi %}
<a class="pubDoi" href="https://doi.org/{{article.pubData.doi}}">doi:{{article.pubData.doi}}</a>
{% endif %}
{% if article.pubData.arxiv %}
<a class="pubArxiv" href="https://arxiv.org/abs/{{article.pubData.arxiv}}">arXiv:{{article.pubData.arxiv}}</a>
{% endif %}
{% if article.pubData.url %}
<a class="pubUrl" href="{{article.pubData.url}}">{{article.pubData.url}}</a>
{% endif %}
{% if article.bibtex %}
<span data-target="bibtex.{{articleId}}" class="citeButton">&#10078;</span>
{% endif %}
</div>
<div class="meta">
{% if article.gistStatus %}
<span class="gistStatus">gist status: <span{% if article.gistStatus in ('error', 'incomplete') %} class="danger"{% endif %}>{{article.gistStatus}}</span></span>
{% endif %}
{% if article.paperStatus %}
<span class="paperStatus">paper status: <span>{{article.paperStatus}}</span></span>
{% endif %}
{% if article.relatedWork %}
<span class="relatedWork">
{% for part in article.relatedWork %}
{% if part.startswith('article:') %}
<a class="articleId" href="#article.{{part[8:]}}">[{{part[8:]}}]</a>
{% else %}
{{part}}
{% endif %}
{% endfor %}
</span>
{% endif %}
</div>
{% if article.topics %}
<div class="topics">
<span>Topics: </span>
{% for topic, subtopics in article.topics.items() %}
<span class="topic">
<span class="topicLabel">{{topic}}{% if subtopics %}: {% endif %}</span>
{% for subtopic in subtopics %}
<span class="topic"><span class="topicLabel">{{subtopic}}</span></span>
{% endfor %}
</span>
{% endfor %}
</div>
{% endif %}
{% if article.bibtex %}
<pre id="bibtex.{{articleId}}" class="bibtex hidden">
{{article.bibtex}}
</pre>
{% endif %}
<div class="content">
{% if article.description %}
<p class="description">{{article.description}}</p>
{% endif %}
{% if article.results %}
<ol class="results">
{% for result in article.results %}
<li>{{result}}</li>
{% endfor %}
</ol>
{% endif %}
</div>
</li>
{% endfor %}
</ol>
</body>
</html>
